body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-color: rgb(231, 231, 231);
}

.loginbox {
    margin: 120px auto 70px auto;
    width: 320px;
    height: min-content;
    background: #000;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 70px 30px 40px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input,
#restaurant-image {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type='text'],
input[type='password'],
input[type='url'],
input[type='tel'] {
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
}

.loginbox input[type='button'] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type='button']:hover {
    cursor: pointer;
    background: darkorange;
    color: #000;
}
.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: darkorange;
}

#message {
    color: #fb2525;
    margin-bottom: 20px;
    text-align: center;
    background-color: yellow;
    padding: 10px;
    border: 2px solid gray;
    font-weight: bold;
}

#password {
    margin-bottom: 10px;
}

.guideline {
    margin-bottom: 5px !important;
}

.guideline,
li {
    font-weight: 400 !important;
    font-size: 12px;
}

ul {
    margin-top: 0;
}

input[type='submit'] {
    font-size: 16px;
    padding: 8px 0;
    margin-bottom: 0px;
    background-color: white;
    color: black;
    transition: 0.3s;
    border: none;
    border-radius: 2%;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
}

input[type='submit']:hover {
    background-color: green;
    color: white;
}

textarea {
    outline: none;
    margin: 5px 0 20px 0;
    padding: 8px 2px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 16px;
    resize: vertical;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    overflow: hidden;
    min-height: 40px;
}

input:read-only {
    border-bottom: 2px solid #777;
}

.scale-out {
    animation: scale-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.scale-in {
    animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hidden {
    display: none;
}

#restaurant-image {
    object-fit: cover;
    max-height: 200px;
    border: 2px solid #fff;
}

#back {
    width: 100%;
    font-size: 16px;
    padding: 8px 0;
    margin: 15px 0 0 0;
    background-color: red;
    border: none;
    color: white;
    transition: 0.3s;
    border-radius: 2%;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

#back:hover {
    background-color: orange;
    color: black;
}

#checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#checkbox {
    width: 25px;
    height: 25px;
    margin: 0;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-8 21:42:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes scale-out-top {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}
