.restaurant-profile {
    display: flex;
    padding-top: 95px;
    padding-left: 200px;
    padding-right: 90px;
    justify-content: space-between;
    flex-direction: column;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.top-right-box {
    text-align: right;
}

.categories {
    align-items: right;
    margin-bottom: 30%;
}

#edit-prof-btn {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 150%;
}

img {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

p {
    text-align: center;
}

#edit-gb-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    font-size: 150%;
}

#verify-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    font-size: 150%;
}

input[type='button'] {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

.logout-button {
    border: none;
    outline: none;
    height: min-content;
	width: 60px;
    background: #fff;
	text-align: center;
    font-size: 12px;
    border-radius: 10px;
	box-shadow: 1px 1px 1px #DC143C;
}
