body,
html {
    height: 100%;
    margin: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 231, 231);
}

.main-content{
	display: flex;
	align-content: center;
	justify-content: safe center;
	flex-direction: column;
}
.restaurant-profile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
    flex-direction: column;
    font-size: 125%;
}

#header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	box-shadow: 0 0 0 2px #000;
    background-color: #fb2525;
}

.topHeader {
  width: 100%;
  z-index: 11;
  height: auto;
}

@media only screen and (min-width: 64.063em) {
    
  .topHeader {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  }
}

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #000;
	color: #fff;
	max-width: 600px;
    min-width: 150px;
    padding: 5%;
}

.top-right-box {
    text-align: right;
}

.categories {
    align-items: right;
    margin-bottom: 30%;
}

a{	
	color: #fb2525;
}

a:hover{
	color: #fff;
}

input{
	display: inline-flex;
	background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    box-shadow: 1px 1px 1px #DC143C;
    vertical-align: middle;
    line-height: 22px;
}

input:hover{
	background-color: #fff;
	color:#fb2525;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.big-content{
	display:flex;
	padding: 0px;
	flex-direction: column;
	align-items: center;
	background-color: #000;
	color: #fff;
	max-width: 600px;
    min-width: 150px;
}

img {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-height: 300px;
}

.description{
	text-align: center;
	overflow: auto;
	overflow-x: hidden;
	width: 85%;
}

#verify-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    font-size: 150%;
}

input[type='button'] {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

