body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 231, 231);
}

#container {
    margin: 0 auto;
    max-width: 600px;
    min-height: 100vh;
    color: #ffffff;
    box-sizing: border-box;
    padding: 20px min(40px, 5%);
    background-color: rgb(176, 196, 222);
}

#back {
    font-size: 35px;
    color: rgb(212, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 70px;
    height: 35px;
    border: none;
    line-height: 35px;
    padding: 0;
    transition: all linear 300ms;
    outline: none;
    border: 1px solid black;
    -webkit-text-stroke: 1px black;
}

#back:hover {
    color: #ff0000;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    margin: 20px 0;
    -webkit-text-stroke: 2px black;
}

h2 {
	text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: black;
    font-weight: bold;
	text-shadow: 2px 2px 2px white;
}

h3 {
	text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    margin: 20px 0;
	color: black;
}

#board {
    width: 100%;
    height: min(520px, calc(100vw - 2 * min(40px, 5vw)));
}

.goal {
    width: 20%;
    height: 20%;
    vertical-align: middle;
    text-align: center;
    font-size: calc(min(520px, calc(100vw - 2 * min(40px, 5vw))) / 8.2);
    border: 2px solid black;
    transition: all 500ms ease-in-out;
    -webkit-text-stroke: 2px black;
}

.selected {
    background-color: white !important;
    color: #000080 !important;
    cursor: pointer;
}

.incomplete {
    background-color: red;
    color: black;
}

.complete {
    background-color: green;
    color: white;
}

.bingo {
	color:#c3a343;
    -webkit-text-fill-color: white;
    background: -webkit-linear-gradient(transparent, transparent),
    url(https://i.pinimg.com/originals/fe/7e/3c/fe7e3c4975fade57d3b56774d8dc0edd.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
}

.bingo-reward {
	color:#c3a343;
    -webkit-text-fill-color: black;
    background: -webkit-linear-gradient(transparent, transparent),
    url(https://i.pinimg.com/originals/fe/7e/3c/fe7e3c4975fade57d3b56774d8dc0edd.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
}

.card {
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    width: calc(100% - 4px);
    border: 2px solid black;
    margin: 0 auto;
    overflow: hidden;
}

.hidden {
    display: none;
}

.instructions ol,
.completed-info ol {
    padding-left: 20px;
    margin: 0;
}

.instructions h2,
.completed-info h2 {
    margin: 0 0 5px 0;
}

.goal-info h2 {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.instructions img {
    width: 100%;
    margin-top: 5px;
}

.instructions li:nth-child(n + 2),
.completed-info li:nth-child(n + 2) {
    margin-top: 10px;
}

.reward-table {
    margin: 15px 0;
    width: 100%;
    border-collapse: collapse;
}

.reward-table td:first-child {
    font-weight: bold;
    width: 100px;
}

.reward-table td[colspan='2'] {
    font-weight: bold;
    font-size: 30px;
    background-color: black;
    color: white;
}

.reward-table td {
    border: 2px solid black;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}

.horizontal {
    background-color: orange;
    color: white;
}

.vertical {
    background-color: cyan;
    color: white;
}

.d-diagonal {
    background-color: yellow;
    color: white;
}

.a-diagonal {
    background-color: pink;
    color: white;
}

.code-header {
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.code {
    display: block;
    word-wrap: break-word;
    text-align: center;
    background-color: #dfdfdf;
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

#hint {
    width: calc(100% - 4px);
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 20;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px auto;
}

.goal-status table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
}

.goal-status td {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    border: 2px solid black;
    color: white;
}

.goal-status td:first-child {
    background-color: black;
    color: white;
    font-size: 30px;
    line-height: 35px;
    width: 50px;
}

.complete-status {
    background-color: green;
}

.incomplete-status {
    background-color: #ff0000;
}

.rewards-button-padding {
	display: flex;
    justify-content: center;
}

.rewards-button {
	border: none;
    outline: none;
    height: min-content;
    padding: 5px 10px;
    width: 190px;
    color:#c3a343;
    -webkit-text-fill-color: black;
    background: -webkit-linear-gradient(transparent, transparent),
    url(https://i.pinimg.com/originals/fe/7e/3c/fe7e3c4975fade57d3b56774d8dc0edd.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    border-radius: 10px;
	text-align: center;
    box-shadow: 3px 3px 3px black;
}

.rewards-button a {
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: black;
    font-weight: bold;
	text-shadow: 2px 2px 2px white;
}

@media (hover: hover) {
    #board td:hover {
        background-color: white !important;
        color: #000080 !important;
        cursor: pointer;
    }
}

#reward-instruction {
    background-color: white;
    color: black;
    font-size: 16px;
}
