body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-color: rgb(231, 231, 231);
}

.mainbox {
    margin: 0 auto;
    max-width: 600px;
    height: min-content;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 20px min(40px, 5%) 1px min(40px, 5%);
    background-color: #000080;
}

h1 {
    margin: 0;
    padding: 0 0 0;
    text-align: center;
    font-size: 24px;
}

h2 {
    margin: 0;
    padding: 0 0 0;
    text-align: left;
    font-size: 20px;
    text-shadow: 2px 2px 2px #0000cd;
}

h3 {
    margin: 0;
    padding: 0 0 0;
    text-align: left;
    font-size: 16px;
    color: dimgray;
}

.mainbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.mainbox a {
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: dimgray;
    font-weight: bold;
}

.mainbox a:hover {
    color: #dda0dd;
}

.profilecard {
    margin: 30px auto;
    width: 100%;
    background: #b0c4de;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
}

.profilecard a {
    margin: 0;
    padding: 0 0 0;
    text-align: center;
    font-size: 18px;
    color: dimgray;
}

.logout-button {
    border: none;
    outline: none;
    height: min-content;
    padding: 5px 10px;
    width: min-content;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #0000cd;
}

.learnmore {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    height: 30px;
    width: 60px;
    padding: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #0000cd;
}

.viewgame {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    height: 30px;
    width: 130px;
    padding: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #0000cd;
}

.button-container {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image {
    margin-top: 5px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    object-fit: cover;
}

.guideline {
    margin-bottom: 5px !important;
}

.guideline,
li {
    font-weight: 400 !important;
    font-size: 12px;
}

ul {
    margin-top: 0;
}

.title-container {
	width: 100%;
    display: flex;
    justify-content: space-between;
}

#button-favourite {
    font-size: 25px;
    color: rgb(212, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    border: none;
    line-height: 5px;
    padding: 0;
    transition: all linear 300ms;
    outline: none;
    box-shadow: 1px 1px 1px #0000cd;
}

.viewfav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    height: 30px;
    width: 130px;
    padding: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #0000cd;
}

#back {
    font-size: 35px;
    color: rgb(212, 0, 0);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 70px;
    height: 35px;
    border: none;
    line-height: 35px;
    padding: 0;
    transition: all linear 300ms;
    outline: none;
    border: 1px solid black;
    -webkit-text-stroke: 1px black;
}

#back:hover {
    color: #ff0000;
    cursor: pointer;
}
