{% extends 'partials/base.j2' %} 

{% block head %}
    <title>Bytes | Edit Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock head %} 

{% block body %} 
    <div class="loginbox">
        <img src="{{ url_for('static', filename='resources/cutlery.png') }}" class="avatar" alt="">
        <h1>Edit Profile</h1>
        <p id="message" 
            {% with messages = get_flashed_messages() %}
                {% if not messages %}
                    class="hidden">
                {% else %}
                    >{{messages[0]}}
                {% endif %}
            {% endwith %}
        </p>
        <form method="post" action="/signup">
            <p>Restaurant Name</p>
            <input
                type="text"
                name="restaurant_name"
                maxlength="50"
                placeholder="Simple Bytes"
                required
            />
            <p>Category (Optional)</p>
            <input
                type="text"
                name="category"
                maxlength="100"
                pattern="[a-zA-Z0-9\s-/,]{1,100}"
                placeholder="American/Comfort"
            />
            <p>Image</p>
            <input
                type="url"
                name="image"
                placeholder="https://images.com/restaurant.jpg"
                maxlength='128'
                required
            />
            <img id="restaurant-image" class="scale-out hidden" src="https://source.unsplash.com/random" alt="">

            <p>Description</p>
            <textarea name="description" placeholder="Simple food. Amazing taste." maxlength='1000' required></textarea>

            <h1>Contact Information</h1>
            <p>Phone Number</p>
            <input
                type="tel"
                name="phone_number"
                maxlength="12"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                placeholder="416-555-5555"
                required
            />
            <p>Address</p>
            <textarea name="location[address]" placeholder="290 Bremner Blvd" maxlength='128' required></textarea>
            <p>Postal Code</p>
            <input
                type="text"
                name="location[postal_code]"
                pattern="[A-Za-z][0-9][A-Za-z][0-9][A-Za-z][0-9]"
                placeholder="M5V3L9"
                maxlength='6'
                required
            />
            <p>City</p>
            <input
                type="text"
                name="location[city]"
                maxlength='50'
                placeholder='Toronto'
                required
            />
            <p>Province</p>
            <input
                type="text"
                name="location[province]"
                maxlength='2'
                placeholder='ON'
                required
            />           
            <p id="checkbox-container">
                <span id="checkbox-label">Set Public:</span>
                <input
                    type="checkbox"
                    name="is_public"
                    id="checkbox"
                />   
            </p>       
            <input type="submit" value="Submit">
        </form>
            {% if true %}
                <button id="back">Back</button>
            {% endif %}
    </div>

    <script>
        document.querySelectorAll('textarea').forEach(e => {
            e.oninput = () => {e.style.height = e.scrollHeight + "px";};
        });

        const postal_code = /[A-Z]\d[A-Z]\d[A-Z]\d/;
        location_inputs = document.querySelectorAll("input[disabled]");

        postal_input = document.querySelector('input[name="location[postal_code]"]');
        postal_input.oninput = () => {
            value = postal_input.value.toUpperCase();
            postal_input.value = value;
            if (value.match(postal_code) !== null) {
                fetch("https://geocoder.ca/" + value + "?json=1")
                    .then(res => res.json())
                    .then(data => {
                        if (!('error' in data)) {
                            location_inputs[0].value = data.standard.city;
                            location_inputs[1].value = data.standard.prov;
                        }
                    })
            }
            else {
                location_inputs[0].value = ""
                location_inputs[1].value = "";
            }
        };

        let rest_img = document.querySelector('#restaurant-image');
        function showImage() {
            rest_img.classList.remove("scale-out");
            rest_img.classList.remove("hidden");
            rest_img.classList.add("scale-in");
        }

        function hideImage() {
            rest_img.classList.remove("scale-in");
            rest_img.classList.add("scale-out");
            setTimeout(() => {rest_img.classList.add("hidden");}, 500)
        }

        let url_input = document.querySelector('input[type="url"]');
        rest_img.onerror = hideImage;
        url_input.onchange = () => {
            rest_img.src = url_input.value;
            setTimeout(() => {
                if (rest_img.complete && rest_img.height > 0) {
                    showImage();
                }
                else hideImage();
            }, 1000);
        };
    </script>
{% endblock body %}
