{% extends 'partials/base.j2' %} 

{% block head %}
    <title>Bingo Editor (Web) </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock head %} 

{% block body %} 
    <div class="content">
        <h1>Bingo Editor (Web) </h1>
            <div class ="name-bingo-container">                
				<form action="/save" method="POST">

                <input 
                    type="text" 
                    name="board_name" 
                    placeholder="Enter Name of your Bingo Board" 
                    id="board-name" 
                    {% if board_name|length > 0 %}
                        value="{{board_name}}"
                    {% endif %}
                    required
                >

                <table>
                    {% for i in range(25) %}
                        {% if i % 5 == 0 %}
                            </tr>
                        {% endif %}

                        <td> 
                            <div class="custom-select">
                                <select name="board[]" required>
                                    <option value="" hidden>Select goal:</option>
                                    {% if goals: %}
                                    {% for a in goals %}
                                        <option value="{{ a['_id'] }}"
                                            {% if board|length > i and board[i] == a['_id'] %}
                                                selected
                                            {% endif %}
                                        > 
                                            {{ a["goal"] }}
                                        </option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </td>

                        {% if i % 5 == 4 %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>

            <div class="clear-save-container">
                <button type="button" value="Clear">Clear</button>
                <button type="submit" value="Save">Save</button>
            </div>
    </div>

    <script>
        document
            .querySelector(".clear-save-container [type='button']")
            .addEventListener("click", () => {
                document.querySelector("#board-name").value = "";
                document.querySelectorAll("select").forEach(e => e.value = "");
            });
    </script>

{% endblock body %}
