<html>
<head>
    <title>Bytes Login</title>
</head>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
<body>
    <div class="loginbox">
    <img src="../static/resources/avatar.png" class="avatar" alt="">
        <h1>Login Here</h1>
        <form method="post" action="/login.html">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit"  value="Login">
        </form>
        <a href="account.html">Create a New Account</a>
    </div>

</body>

</html>