body,
html {
    margin: 0;
    font-family: sans-serif;
}

.name-bingo-container {
    text-align: center;
}

#board-name {
    width: 193px;
    margin: 20px 0;
}

.clear-save-container {
	padding-top: 65px;
    margin: 2rem auto;
    width: min-content;
    display: flex;
}

.clear-save-container > button {
    height: 40px;
    width: 70px;
    margin: 0 20px;
}

table,
td {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

td {
    text-align: center;
    padding: 2rem;
}

.content {
    width: 85%;
    margin: 0 auto;
    max-width: 900px;
}

.custom-select > select {
    width: 100px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    -webkit-appearance: none;
}

.remove-select > select {
    width: 85%;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    -webkit-appearance: none;
}

.reward-select > select {
    width: 100px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    -webkit-appearance: none;
	position: absolute;
}

.reward-container {

    width: min-content;
    display: flex;
}

.reward-padding {
	padding-top: 65px;
	padding-right: 40px;	
	position: absolute;
}

.first-padding { 	
	border-collapse: separate;
	padding-left: 250px;
	margin-bottom: 250px;
	position: absolute;
}

.last-padding {
	padding-top: 45px;
	padding-left: 340px;	
	position: absolute;
}

.vertical-padding {
	position: absolute;
	padding-left: 160px;	
}

h1 {
    text-align: center;
    margin-bottom: 0;
}
