{% extends 'partials/base.j2' %} 

{% block head %}
    <title>Customer | Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer_css/customer_login.css') }}" />
{% endblock head %} 

{% block body %} 
    <div class ="loginbox">
		<a href="{{ url_for('customer_login') }}">Logout</a>
        <img src="{{ url_for('static', filename='customer_resources/avatar.jpg') }}" class="avatar" alt="">
        <h1>Welcome, {{ name }}!</h1>
    </div>
{% endblock body %}
