{% extends 'partials/base.j2' %} 

{% block head %}
    <title>Customer | Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer_css/view_profiles.css') }}" />
{% endblock head %} 

{% block body %} 
    <div class ="mainbox">
		<a href="{{ url_for('customer_logout') }}">Logout</a>
        <h1>Welcome, {{ name }}!</h1>
		<h1>Choose a Game Board<h1>
		{% if profiles: %}
			{% for profile in profiles %}
				<div class ="profilecard">
					{% for key, value in profile.items() %}
						{% if key == "name" %}
							<h2>{{ value }}<h2>
						{% endif %}
						{% if key == "category" %}
							<h3>{{ value }}<h3>
						{% endif %}
						{% if key == "image" %}
							<img src="{{ value }}" class="image"/>
						{% endif %}
					{% endfor %}
					<div class="button-container">
						<div class="learnmore">
							<a href="{{ url_for('view_profiles') }}">Learn More</a>
						</div>
						<div class="viewgame">
							<a href="{{ url_for('view_profiles') }}">View Game Board</a>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
    </div>
{% endblock body %}
