{% extends 'partials/base.j2' %} 

{% block head %}
    <title>View Your Board</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer_css/board.css') }}">
{% endblock head %} 

{% block body %} 
    <div class="content">
        <h1>{{ name }} </h1>
            <div class ="name-bingo-container">                

                <table align="center">
		    <tr>
		        {% for i in range(5) %}
				<td class="reward"></td>
			{% endfor %}
			<td title="{{rewards[0]}}" class="reward"> <img src="../static/customer_resources/gift.jpg"> </td>
		    </tr>
                    {% for i in range(25) %}
                        {% if i % 5 == 0 %}
                            <tr>
                        {% endif %}

                        	<td title= "{{goals[i] }}" ><img src="../static/customer_resources/x.png"></td>

                        {% if i % 5 == 4 %}
			    <td title="{{rewards[(i%4)+1]}}" class = "reward"><img src="../static/customer_resources/gift.jpg"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
		    <tr class = "reward"> 
			{% for i in range(6) %}
				<td title="{{rewards[i+6]}}" class="reward"><img src="../static/customer_resources/gift.jpg"></td>
			{% endfor %}
		   </tr>
                </table>
            </div>
    <a href="/login"> <input class="back" type="button"  value="Back"> </a>
    </div>
{% endblock body %}
