{% extends 'base.j2' %} 

{% block head %}
    <title>Bytes | Create Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock head %} 

{% block body %} 
    <div class="loginbox">
        <img src="{{ url_for('static', filename='resources/avatar.jpg') }}" class="avatar" alt="">
        <h1>Customer Registration</h1>
        <p id="message" 
            {% with messages = get_flashed_messages() %}
                {% if not messages %}
                    class="hidden">
                {% else %}
                    >{{messages[0]}}
                {% endif %}
            {% endwith %}
        </p>
        <form method="post" action="/signup">
            <p>Full Name</p>
            <input
                type="text"
                name="fullName"
                maxlength="50"
                pattern="[A-Za-z\s-]{1,50}"
                placeholder="Enter Full Name"
                required
            />
            <p>Username</p>
            <input
                type="text"
                name="username"
                maxlength="25"
                pattern="[A-Za-z0-9]{6,25}"
                placeholder="Enter Username"
                required
            />
            <p>Password</p>
            <input
                type="password"
                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                name="password"
                maxlength="128"
                placeholder="Enter Password"
                id="password"
                required
            />
            <input type="password" maxlength="128" placeholder="Re-enter Password" required>

            <p class="guideline">Usernames should contain:</p>
            <ul>
                <li>Only alphanumeric characters</li>
                <li>6-25 characters</li>
            </ul>

            <p class="guideline">Passwords should contain:</p>
            <ul>
                <li>At least one uppercase character</li>
                <li>At least one lowercase character</li>
                <li>At least one number or special character</li>
                <li>8-128 characters</li>
            </ul>
            <input type="submit" value="Register">
        </form>
    </div>

    <script>
        function validatePasswords() {
            passwords = document.querySelectorAll('input[type="password"]')
            if (passwords[0].value !== passwords[1].value) {
                passwords[1].setCustomValidity("Please provide matching passwords.");
            } else {
                passwords[1].setCustomValidity("");
            }
        }

        passwords = document.querySelectorAll('input[type="password"]');
        passwords[0].onchange = validatePasswords;
        passwords[1].onchange = validatePasswords;
    </script>
{% endblock body %}
