{% extends 'partials/base.j2' %} 

{% block head %}
    <title>Customer | Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rewards/css/login.css') }}" />
{% endblock head %} 

{% block body %} 
    <div class="loginbox">
        <img src="{{ url_for('static', filename='rewards/resources/avatar.jpg') }}" class="avatar" alt="">
        <h1>Customer Login</h1>
        <p id="message" 
            {% with messages = get_flashed_messages() %}
                {% if not messages %}
                    class="hidden">
                {% else %}
                    >{{messages[0]}}
                {% endif %}
            {% endwith %}
        </p>
        <form method="post" action="/login">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit"  value="Login">
        </form>
        <a href="{{ url_for('signup') }}">Create a New Account</a>
    </div>
{% endblock body %}
