{% extends 'base.j2' %} 

{% block head %}
    <title>Bytes | {{name}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/board.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
{% endblock head %} 

{% block body %} 

	<div id="container">
		<button id="back" onclick=history.back()><i class="fas fa-long-arrow-alt-left"></i></button>
		<h1>{{name}}</h1>
		{# <h3>This bingo board expires on: {{date}}</h3> #}
		{% if goals[0]['board_complete'] %}
			<div class="complete-card">
				<h3>Congratulations!</h3>
				<h4>You have completed the bingo board. Click "Reset" to reset the board and keep earning rewards!
				The rewards that you have already earned will not be reset.</h4>
				<div class="button-padding">
					<div class="reset">
						<a href="reset-board" onclick="return confirm('Are you sure you want to reset your goals?')">Reset</a>
					</div>
				</div>
			</div>
		{% endif %}
		<table id="board">
		    {% for i in range(size*size) %}
				<meta id="board_size" data-size="{{size}}">
				{% if i % size == 0 %}
					<tr>
				{% endif %}
				<td 
					class="goal r{{i // size}} c{{i % size}}
					{% if i % size == i // size %}
						d0
					{% endif %}
					{% if i // size == (size-1) - (i % size) %}
						d1
					{% endif %}
					{% if goals[i]['is_complete'] and goals[i]['is_bingo'] %}
						bingo
					{% elif goals[i]['is_complete'] %}
						complete
					{% else %}
						incomplete
					{% endif %}" 
					title="{{goals[i]['goal']}}">
					<i class="fas 
						{% if goals[i]['is_complete'] and goals[i]['is_bingo'] %}
							fa-star
						{% elif goals[i]['is_complete'] %}
							fa-check
						{% else %}
							fa-hamburger
						{% endif %}"></i>
				</td>
				{% if i % size == (size-1) %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>

		<div id="expiry-date">
			This board will expire on:<br>
			<strong>{{date}}</strong>
		</div>

		<span class="cards">
			{% for i in range(size*size) %}
				<div class="hidden card">
					<div class="goal-info">
						<h2>{{goals[i]['goal']}}</h2>
					</div>
					<hr>
					<div class="reward-info">
						<table class="reward-table">
							<tr>
								<td colspan=2>Rewards</td>
							</tr>
							<tr>
								<td colspan=2 id="reward-instruction">
									Complete all goals highlighted by the same colour to earn the 
									rewards below! <br><br> Tap on a reward to see current progress.
								</td>
							</tr>
							{% set earned = {'is_earned': False} %}
							<tr class="reward-path" path="horizontal">
								{% if rewards[(i // size + 1)]["is_earned"] %}
									<td height="50" class="bingo-reward"><h2>Horizontal</h2></td>
									{% if earned.update({'is_earned':True}) %} {% endif %}
								{% else %}
									<td height="50" style="background-color: orange">Horizontal</td>
								{% endif %}
								<td>{{rewards[(i // size + 1)]["reward"]}}</td>
							</tr>
							<tr class="reward-path" path="vertical">
								{% if rewards[(i % size + (size+1))]["is_earned"] %}
									<td height="50" class="bingo-reward"><h2>Vertical</h2></td>
									{% if earned.update({'is_earned':True}) %} {% endif %}
								{% else %}
									<td height="50" style="background-color: cyan">Vertical</td>
								{% endif %}
								<td>{{rewards[(i % size + (size+1))]["reward"]}}</td>
							</tr>
							{% if i % size == i // size %}
								<tr class="reward-path" path="d-diagonal">
									{% if rewards[size*2+1]["is_earned"] %}
										<td height="50" class="bingo-reward"><h2>Descending Diagonal</h2></td>
										{% if earned.update({'is_earned':True}) %} {% endif %}
									{% else %}
										<td height="50" style="background-color: yellow">Descending Diagonal</td>
									{% endif %}
									<td>{{rewards[size*2+1]["reward"]}}</td>
								</tr>
							{% endif %}
							{% if i // size == (size-1) - (i % size) %}
								<tr class="reward-path" path="a-diagonal">
									{% if rewards[0]["is_earned"] %}
										<td height="50" class="bingo-reward"><h2>Ascending Diagonal</h2></td>
										{% if earned.update({'is_earned':True}) %} {% endif %}
									{% else %}
										<td height="50" style="background-color: pink">Ascending Diagonal</td>
									{% endif %}
									<td>{{rewards[0]["reward"]}}</td>
								</tr>
							{% endif %}
						</table>

						<table class="reward-progress hidden">
							<tr>
								<td colspan=2>Reward Progress</td>
							</tr>
							<tr>
								<td colspan=2 class="reward-progress-text"></td>
							</tr>
							{% for _ in range(size) %}
								<tr class="goal-progress">
									<td></td>
									<td><i class="fas"></i></td>
								</tr>
							{% endfor %}
						</table>

						{% if earned.is_earned %}
							<div class="button-padding">
								<div class="rewards-button">
									<a href="/personal/rewards">Redeem Rewards</a>
								</div>
							</div>
						{% endif %}
					</div>
					<hr>
					<div class="goal-status">
						<table>
							<tr>
								<td>Goal Status</td>
								{% if goals[i]['is_complete'] %}
									<td class="complete-status">Complete</td>
								{% else %}
									<td class="incomplete-status">Incomplete</td>
								{% endif %}
							</tr>
						</table>
					</div>
					<hr>
					{% if goals[i]['is_complete'] %}
						<div class="completed-info">
							<h2>Next Steps</h2>
							<ol>
								<li>
									Continue completing goals until a Bingo! is achieved. (Complete all goals in a row/column/diagonal)
								</li>
								<li>
									Check back here to obtain rewards!
								</li>
							</ol>
						</div>
					{% else %}
						<div class="instructions">
							<img src="{{qrcode(cust_id + '+' + goals[i]['_id']|string + '+' + i|string, box_size=(size*size-1))}}">
							<div class="code-header">Code</div>
							<strong class="code">
								{{cust_id + '+' + goals[i]['_id']|string + '+' + i|string}}
							</strong>
							<h2>Steps</h2>
							<ol>
								<li>
									When completing this goal, present the above QR code to your server for verification.
								</li>
								<li>
									Alternatively, provide the above redemption code if requested by your server. 
								</li>
								<li>
									Check this page later to see the goal's confirmation.
								</li>
								<li>
									Continue achieving goals until you achieve a Bingo! to obtain rewards.
								</li>
							</ol>
						</div>
					{% endif %}
				</div>
			{% endfor %}		
		</span>
		<div id="hint">Click on goals (boxes) to find out more!</div>
	</div>
	
	<script src="{{ url_for('static', filename='js/view_board.js') }}"></script>
	
{% endblock body %}
