{% extends 'base.j2' %} 

{% block head %}
    <title>Customer | View Profiles</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_profiles.css') }}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
{% endblock head %} 

{% block body %} 
    <div class ="mainbox">
		<div class="button-container">
			<div class="logout-button">
				<a href="/logout">Logout</a>
			</div>
			<div class="viewfav">
				<a href="/profiles/view-favourites">View Favourites</a>
			</div>
		</div>
		<h1>Welcome!</h1>
		<h1>Choose a Game Board</h1>
		{% if profiles: %}
			{% for id, profile in profiles.items() %}
				<div class ="profilecard">
					{% for key, value in profile.items() %}
						<div class="button-container">
							{% if key == "name" %}
								<h2>{{ value }}</h2>
								{% set vars = {'fav': False} %}
									{% if favourite: %}
									{% for restaurant in favourite %}
										{% if id == restaurant %}
											{% if vars.update({'fav': True}) %} {% endif %}
										{% endif %}
									{% endfor %}
									
									{% endif %}
									<button id="button-favourite" onclick="window.location.href='/profiles/{{id}}/favourite'"><i class=" 
										{% if vars.fav %}
											fas fa-heart">
										{% else %}
											far fa-heart">
										{% endif %}</i></button>
							{% endif %}
						</div>
						{% if key == "category" %}
							<h3>{{ value }}</h3>
						{% endif %}
						{% if key == "image" %}
							<img src="{{ value }}" class="image"/>
						{% endif %}
					{% endfor %}
					<div class="button-container">
						<div class="learnmore">
							<a href="/profiles">Learn More</a>
						</div>
						<div class="viewgame">
							<a href="/profiles/{{id}}/board">View Game Board</a>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
    </div>
{% endblock body %}
