{% extends 'base.j2' %} 

{% block head %}
    <title>Bytes | Customization</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/customization.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
{% endblock head %} 

{% block body %} 
    <div id="container">
        <p id="message" 
            {% with messages = get_flashed_messages() %}
                {% if not messages %}
                    class="hidden">
                {% else %}
                    >{{messages[0]}}
                {% endif %}
            {% endwith %}
        </p>
        <div id="dark-container">
            <h1>
                <span>Customize Goals</span>
                <i class="fas fa-plus"></i>
            </h1>
            <form action="/goals/add" method="POST">
                <input type="text" name="goal" placeholder="Add New Goal">
            </form>
            <ul>
                {% for item in goals %}
                    <li>
                        <form action="/goals/{{item['id']}}/delete"></form>
                        <span class="delete" id="{{item['id']}}"><i class="far fa-trash-alt"></i></span>
                        <span class="goal">{{item["goal"]}}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <p id="advisory">
            <span>IMPORTANT!</span>
            Please only add goals that may be completed in a single visit to your restaurant.
        </p>
    </div>
    
    <script src="{{ url_for('static', filename='js/customization.js') }}"></script>
{% endblock body %}
