{% extends 'base.j2' %} 

{% block head %}
    <title>Bytes | Customization</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/customization.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
{% endblock head %} 

{% block body %} 
	<div class="back-button">
		<a href="/board">Back</a>
    </div>
    <div id="container">
        <p id="message" 
            {% with messages = get_flashed_messages() %}
                {% if not messages %}
                    class="hidden">
                {% else %}
                    >{{messages[0]}}
                {% endif %}
            {% endwith %}
        </p>
        <div id="dark-container">
            <h1 name="goal">
                <span>Customize Goals</span>
                <i class="fas fa-plus"></i>
            </h1>
            <form id="goal" action="/customize/add-goal" method="POST">
                <input type="text" name="goal" placeholder="Add New Goal" required>
            </form>
            <ul>
                {% for item in goals %}
                    <li>
                        <form action="/customize/delete-goal" method="POST">
                            <input type="hidden" name="deleted-goal" value="{{item['_id']}}">
                        </form>
                        <span class="delete"><i class="far fa-trash-alt"></i></span>
                        <span class="goal">{{item["goal"]}}</span>
                    </li>
                {% endfor %}
                {% if goals|length == 0 %}
                    <li>
                        <span id="empty">No custom goals found. Add one above!</span>
                    </li>
                {% endif %}
            </ul>
        </div>
		<div class="space">
		
		</div>
		<div id="dark-container">
            <h1 name="reward">
                <span>Customize Rewards</span>
                <i class="fas fa-plus"></i>
            </h1>
            <form id="reward" action="/customize/add-reward" method="POST">
                <input type="text" name="reward" placeholder="Add New Reward" required>
            </form>
            <ul>
                {% for item in rewards %}
                    <li>
                        <form action="/customize/delete-reward" method="POST">
                            <input type="hidden" name="deleted-reward" value="{{item['_id']}}">
                        </form>
                        <span class="delete"><i class="far fa-trash-alt"></i></span>
                        <span class="reward">{{item["reward"]}}</span>
                    </li>
                {% endfor %}
                {% if rewards|length == 0 %}
                    <li>
                        <span id="empty">No custom rewards found. Add one above!</span>
                    </li>
                {% endif %}
            </ul>
        </div>
        <p id="advisory">
            <span>IMPORTANT!</span>
            Please only add goals that may be completed in a single visit to your restaurant.
			<br>
			Please only add rewards that may be redeemed in a single visit to your restaurant.
        </p>
    </div>
    
    <script src="{{ url_for('static', filename='js/customization.js') }}"></script>
{% endblock body %}
