{% extends 'base.j2' %} 

{% block head %}
    <title>Bytes | Current Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_current_board.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
{% endblock head %} 

{% block body %} 
	<div id="container">
		<div id="board">
			<table></table>
			<div class="buttons" id="clear-edit-container">
				<a class="back" href="/profile">Back</a>
				<a class="edit" href="/board/edit">Edit Future Game Board</a>
			</div>
		</div>
	</div>
	<div id="buttons">
			
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/board_viewer/view_current_board.js') }}"></script>
	<script>
        let boardSize = {{board_size}}, // create JS variable for board size
            cellWidth = $('#board').innerWidth() / (boardSize + 1),
            cellHeight = $('#board').innerHeight() / (boardSize + 2),
			goals = {{goals|safe}},
			rewards = {{rewards|safe}},
			name = "{{board_name}}",
			date = "{{current_expiry}}";
        
        renderBoard(boardSize, goals, rewards, name, date); // render the current board
		$(document).ready(function () {
			setTimeout(function () {
				let e, 
					goalGrid = $("td.goal");
					rewardGrid = $("td.reward");
				addHoverFunctionality();
				fixSize();
			}, 100);
		});

	</script>
    <script src="{{ url_for('static', filename='js/board_viewer/current_board_helper.js') }}"></script>
    
    
{% endblock body %}
