{% extends 'base.j2' %} 

{% block head %}
    <title>Bytes | Bingo Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board_editor.css') }}">
{% endblock head %} 

{% block body %} 
	<div id="container">
		<div id="build-area">
			<div id="goals">
				<div class="instruction">
					Drag and drop goals onto the board:
				</div>
				<div class="list">
					{% for i in range(goals|length) %}
						<div class="item">
							<div class="index">G{{i}}</div>
							<div 
								class="text draggable goal" 
								title="{{goals[i]['goal']}}" 
								key="{{goals[i]['_id']}}"
								index="G{{i}}">
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div id="rewards">
				<div class="instruction">
					Drag and drop rewards onto the board:
				</div>
				<div class="list">
					{% for j in range(rewards|length) %}
						<div class="item">
							<div class="index">R{{j}}</div>
							<div 
								class="text draggable reward" 
								title="{{rewards[j]['reward']}}" 
								key="{{rewards[j]['_id']}}"
								index="R{{j}}">
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="buttons" id="back-customize-container">
				<button id="back">Back</button>
				<button id="customize">Customize</button>
			</div>
		</div>
		<div id="board">
			<table>
				<tr>
					<td colspan=5>
						<div id="title">
							<form action="/board/save" method="POST">
								<input 
									type="text" 
									name="board_name" 
									placeholder="Enter Name of your Bingo Board" 
									id="board-name"
									value="{{board_name}}"
									required
								>
							</form>
						</div>
					</td>
					<td class="droppable reward" bingo="d2"></td>
				</tr>
				<tr>
					<td class="droppable goal r1 c1 d1"></td>
					<td class="droppable goal r1 c2"></td>
					<td class="droppable goal r1 c3"></td>
					<td class="droppable goal r1 c4"></td>
					<td class="droppable goal r1 c5 d2"></td>
					<td class="droppable reward" bingo="r1"></td>
				</tr>
				<tr>
					<td class="droppable goal r2 c1"></td>
					<td class="droppable goal r2 c2 d1"></td>
					<td class="droppable goal r2 c3"></td>
					<td class="droppable goal r2 c4 d2"></td>
					<td class="droppable goal r2 c5"></td>
					<td class="droppable reward" bingo="r2"></td>
				</tr>
				<tr>
					<td class="droppable goal r3 c1"></td>
					<td class="droppable goal r3 c2"></td>
					<td class="droppable goal r3 c3 d1 d2"></td>
					<td class="droppable goal r3 c4"></td>
					<td class="droppable goal r3 c5"></td>
					<td class="droppable reward" bingo="r3"></td>
				</tr>
				<tr>
					<td class="droppable goal r4 c1"></td>
					<td class="droppable goal r4 c2 d2"></td>
					<td class="droppable goal r4 c3"></td>
					<td class="droppable goal r4 c4 d1"></td>
					<td class="droppable goal r4 c5"></td>
					<td class="droppable reward" bingo="r4"></td>
				</tr>
				<tr>
					<td class="droppable goal r5 c1 d2"></td>
					<td class="droppable goal r5 c2"></td>
					<td class="droppable goal r5 c3"></td>
					<td class="droppable goal r5 c4"></td>
					<td class="droppable goal r5 c5 d1"></td>
					<td class="droppable reward" bingo="r5"></td>
				</tr>
				<tr>
					<td class="droppable reward" bingo="c1"></td>
					<td class="droppable reward" bingo="c2"></td>
					<td class="droppable reward" bingo="c3"></td>
					<td class="droppable reward" bingo="c4"></td>
					<td class="droppable reward" bingo="c5"></td>
					<td class="droppable reward" bingo="d1"></td>
				</tr>
			</table>
			<div class="buttons" id="clear-save-container">
				<button id="clear">Clear</button>
				<button id="save">Save</button>
			</div>
		</div>
	</div>
	<div id="buttons">
			
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="{{ url_for('static', filename='js/board_editor.js') }}"></script>
	<script>
		$(document).ready(function () {
			setTimeout(function () {
				let e, 
					goalGrid = $("td.goal");
					rewardGrid = $("td.reward");

				{% for k in range(board|length) %}
					e = $(".list [key='{{board[k]}}']").clone().draggable(dragOptions);
					setSize(e, cellWidth, cellHeight)
						.css({ top: 0, left: 0 })
						.prependTo(goalGrid.eq({{k}}));
				{% endfor %}

				{% for l in range(board_reward|length) %}
					e = $(".list [key='{{board_reward[l]}}']").clone().draggable(dragOptions);
					setSize(e, cellWidth, cellHeight)
						.css({ top: 0, left: 0 })
						.prependTo(rewardGrid.eq({{l}}));
				{% endfor %}
				cellWidth = $('#board').innerWidth() / 6;
         		cellHeight = $('#board').innerHeight() / 7;
				fixDroppables();
				alignButtons();
			}, 100);
			
		});
	</script>
{% endblock body %}
