{% extends 'base.j2' %} 

{% block head %}
    <title>Bytes | View Profile</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
	<link 
		rel="stylesheet" 
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" 
		integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" 
		crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_profile.css') }}" />
{% endblock head %}

{% block body %}
	<nav
		id="navbar"
		class="navbar navbar-light p-0 sticky-top"
	>
		<div class="container px-0">
			<a class="navbar-brand p-0 m-0" href="/"
				><img src="{{ url_for('static', filename='resources/light_logo.png') }}" height="50rem"
			/></a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<a
						class="nav-item nav-link pl-2"
						href="/board"
						><i class="fas fa-dice"></i><strong>Game Board</strong>
					</a>
					<a
						class="nav-item nav-link pl-2"
						href="/profile/edit"
						><i class="fas fa-user-circle"></i><strong>Profile Editor</strong>
					</a>
					<a
						class="nav-item nav-link pl-2"
						href="/profile/qr-verification-goals"
						><i class="fas fa-qrcode"></i><strong>Goal Validator</strong>
					</a>
					<a
						class="nav-item nav-link pl-2"
						href="/profile/qr-verification-rewards"
						><i class="fas fa-qrcode"></i><strong>Reward Validator</strong>
					</a>
					<a
						class="nav-item nav-link pl-2"
						href="/logout"
						><i class="fas fa-sign-out-alt"></i><strong>Logout</strong>
					</a>
				</ul>
			</div>
		</div>
	</nav>
    <div class="light-container">
		<div id="name-container">
			<h1>{{ restaurant_name }}</h1>
			{% if category %}
				<hr><h2>{{ category }}</h2><hr>
			{% endif %}
		</div>
		<table id="about-restaurant">
			<tr>
				<td>About Restaurant</td>
			</tr>
			<tr>
				<td id="rest-img">
					<img
					src=
					{% if rest_img %}
							"{{ rest_img }}"
					{% else %}
							"https://filestore.community.support.microsoft.com/api/images/72e3f188-79a1-465f-90ca-27262d769841"
					{% endif %}
					name="rest-img">
				</td>
			</tr>
			<tr>
				<td>
					{% set text = description.split('\n') %}
					{% for para in text %}
						{{para}}<br>
					{% endfor %}
				</td>
			</tr>
		</table>
		<table id="contact-info">
			<tr>
				<td colspan=2>Contact Information</td>
			</tr>
			<tr>
				<td>
					Address
				</td>
				<td>
					<a href=" http://maps.google.com/?q= {{ address }} {{ city }} {{ province }} {{ postal_code }}" target="_blank">
						{{ address }}
						<br>
						{{ city }}, {{ province }}
						<br>
						{{ postal_code }}
					</a>
				</td>
			</tr>
			<tr>
				<td>
					Phone Number
				</td>
				<td>
					<a href="tel:{{ phone_number }}" target="_blank">
						{{ phone_number }}
					</a>
				</td>
			</tr>
		</table>
    </div>
{% endblock body %}