{% extends 'base.j2' %} 

{% block head %}
    <title>Bytes | View Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view_profile.css') }}" />
{% endblock head %}

{% block body %}
	<div class="logout-button">
		<a href="/logout">Logout</a>
    </div>
	<div class="restaurant-profile">
		<div class="top-bar">
		    <div>
				<h1 name="restaurant-name">
					{% if restaurant_name %}
						{{ restaurant_name }}
					{% else %}
						Restaurant Name
					{% endif %}
				</h1>
				<h4 name="address"> 
					{% if address %}
						{{ address }}
					{% else %}
						Address
					{% endif %}
					<br>
					{% if city and province%}
						{{ city }}, {{ province }}
					{% else %}
						City, Province
					{% endif %}
					<br>
					{% if postal_code %}
						{{ postal_code }}
					{% else %}
						Postal Code
					{% endif %}					
				</h4>
				<h4 name="phone-no"> 
					{% if phone_number %}
						{{ phone_number }}
					{% else %}
						Phone Number
					{% endif %}
				</h4>
			</div>
			<div class="top-right-box">
				<div class="categories">
					<h4>
					{% if category %}
						{{ category }}
					{% else %}
						<div>
							Category
						</div>
					{% endif %}
					</h4>
				</div>
				<input 
					type="button"
					name="edit-prof-btn" 
					id="edit-prof-btn" 
					onclick="location.href='/profile/edit';" 
					value="Edit Profile" />
			</div>
		</div>
		<div class="big-content">
			<img
				src=
				{% if rest_img %}
						"{{ rest_img }}"
				{% else %}
						"https://filestore.community.support.microsoft.com/api/images/72e3f188-79a1-465f-90ca-27262d769841"
				{% endif %}
				name="rest-img">
			<p>
				{% if description %}
					{{ description }}
				{% else %}
					Description
				{% endif %}
			</p>
			<input
				type="button"
				name="edit-gb-btn"
				id="edit-gb-btn"
				onclick="location.href='/board';"
				value="Edit Game Board" />
			<br>
			<input
				type="button"
				name="verify-btn"
				id="verify-btn"
				onclick="location.href='/profile/qr-verification';"
				value="Verify QR Codes" />
		</div>
	</div>
{% endblock body %}